*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$text-white: white;
$bg-color_tomato:orange;

button{

    // 여기서 &는 상위 선택자인 button을 의미한다. 즉, button:nth-child(1)을 의미
    &:nth-child(1){
        color:$text-white;
        background-color: $bg-color_tomato;
        width: 100px;
    }
    &:nth-child(2){
        color:$text-white;
        background-color: $bg-color_tomato;
        width: 200px;
    }
    &:nth-child(3){
        color:$text-white;
        background-color: $bg-color_tomato;
        width: 300px;
    }
}