*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin pos($x:0,$y:0,$z:0){
    position: absolute;
    left:$x;
    top:$y;
    z-index:$z;


    // x,y 모두 가운데 정렬하기 원할 경우
    @if $x==50% and $y==50%{
        transform: translate(-$x, -$y);
    // x축방향 가운데 정렬하기 원할 경우
    }@else if $x==50%{ 
        transform: translateX(-$x);
    }@else if $y==50%{
    // y축방향 가운데 정렬하기 원할 경우
        transform: translateY(-$y);

    }
}

div{
    width: 300px;
    height: 300px;
    background-color: #000;
    @include pos(50%,50%,2);
}