// 모듈 불러오기
@import "mixins.scss";
@import "var.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.a{
    // box는 mixins.scss에 있는 믹스인 이름
    // $main-color는 var.scss에 있는 변수명
    @include box($main-color);
    
}