.header{
    // chats 자체가 chats.scss에서 marginleft를 60px만큼 줬기에 오른쪽이 잘리지 않도록 함
    width: calc(100% - 60px);

    // 영역 고정
    position: fixed;
    top:0;

    // scroll 시 고정
    z-index:2;

    display: flex;
    // 주축 양쪽에 붙은상태로 요소가 벌어짐
    justify-content: space-between;

    line-height: 36px;
    padding: 1rem;
    background-color: white;
    
    .header-title{
        font-size: 1em;        
    }

    
.header-menu{
    display: flex;
    
    .header-icon{
        @include set-boxSize(36px, 36px, 50%);
        display: block;
        text-align: center;
        cursor: pointer;

        &:hover{
            background-color: #aeaeae;
        }
    }
}
}

