.nav-list{
    position: fixed;
    top:0;
    left:0;
    min-width: 60px;
    @include set-boxSize(100%, 60px);
    background-color: aliceblue;
    list-style-type: none;

    .nav-btn{
        padding: 1.2em 0;
        text-align: center;
        color: #aeaeae;
        // a태그 클릭시 밑줄방지
        text-decoration: none;

        &.active{
            color: #000;
        }

        &:first-child{
            margin-top: 1.4em;
        }
    }
}